//
// Copyright (C) 2014 and later, Indie Computing Corp. All rights reserved. License: see package.
//

$wgDBadminuser     = '${appconfig.mysql.dbuser.maindb}';
$wgDBadminpassword = '${appconfig.mysql.dbusercredential.maindb}';
