<?php
//
// Copyright (C) 2014 and later, Indie Computing Corp. All rights reserved. License: see package.
//

if ( !defined( 'MEDIAWIKI' ) ) {
    exit;
}

$hostname = '${site.hostname}';
if( $hostname == '*' ) {
    if( isset( $_SERVER['SERVER_NAME'] )) {
        $hostname = $_SERVER['SERVER_NAME'];
    } else {
        $hostname = '${hostname}';
    }
}
# For debugging, comment out those:
# $wgDebugLogFile = "/tmp/mediawiki-${appconfig.appconfigid}-debug.log";
# $wgShowExceptionDetails = true;
# $wgShowDBErrorBacktrace = true;

$wgSitename         = '${escapeSquote(installable.customizationpoints.wikititle.value)}';
$wgScriptPath       = '${appconfig.context}/_';
$wgScriptExtension  = '.php';
$wgLoadScript       = '${appconfig.context}/load.php';
$wgServer           = "${site.protocol}://$hostname";
$wgStylePath        = '${appconfig.context}/_/skins';

$wgUploadDirectory    = '_/images';
$wgFileCacheDirectory = '${appconfig.cachedir}';
$wgUseFileCache       = true;

$wgEnableEmail      = true;
$wgEnableUserEmail  = true;
$wgEmergencyContact = '${escapeSquote(site.admin.email)}';
$wgPasswordSender   = "noreply@$hostname";
$wgEnotifUserTalk   = true;
$wgEnotifWatchlist  = true;
$wgEmailAuthentication = true;
$wgDBtype           = 'mysql';
$wgDBserver         = '${appconfig.mysql.dbhost.maindb}';
$wgDBname           = '${appconfig.mysql.dbname.maindb}';
$wgDBuser           = '${appconfig.mysql.dbuser.maindb}';
$wgDBpassword       = '${escapeSquote(appconfig.mysql.dbusercredential.maindb)}';
$wgDBprefix         = '';
$wgDBTableOptions   = 'ENGINE=InnoDB, DEFAULT CHARSET=utf8';

$wgMainCacheType = CACHE_NONE;
$wgMemCachedServers = array();

$wgEnableUploads = true;
# $wgUseImageMagick = true; Does not work
$wgImageMagickConvertCommand = '/usr/bin/convert';

$wgUseInstantCommons  = false;

$wgShellLocale = 'en_US.utf8';

$wgCapitalLinks  = false; # Leave URL captialization as it is, don't toUpper first char

$wgLanguageCode = 'en';

$wgSecretKey = '${randomHex(32)}';
$wgDefaultSkin = 'vector';
require_once "$IP/skins/Vector/Vector.php";

$wgRightsPage = '${escapeSquote(installable.customizationpoints.wikititle.value)}:Copyrights';
    # This seems to be the default mentioned in the edit window

$wgDiff3 = '/usr/bin/diff3';

$wgResourceLoaderMaxQueryLength = 512;

$wgGroupPermissions['*']['edit'] = false; # FIXME this should become an optional
# $wgGroupPermissions['user']['edit'] = true;
# $wgGroupPermissions['sysop']['edit'] = true;
# $wgGroupPermissions['*']['upload'] = false;
# $wgGroupPermissions['sysop']['upload'] = true;
# $wgGroupPermissions['sysop']['userrights'] = true;

$wgArticlePath = "${appconfig.context}/$1";
# $wgUsePathInfo = true;
$wgAllowDisplayTitle = true;
$wgAllowExternalImages = true;

$wgFileExtensions = array('png','gif','jpg','jpeg','doc','xls','pdf','ppt','tiff','bmp','docx', 'xlsx', 'pptx','ps','odt','ods','odp','odg');

$wgLogo = "${appconfig.context}/_/ubos-images/logo.png"; # Aliased to default if not exists

if( is_dir( "${appconfig.apache2.dir}/_/ubos-accessories" )) {
    foreach( scandir( "${appconfig.apache2.dir}/_/ubos-accessories" ) as $accessoryFile ) {
        if( substr( $accessoryFile, -4, 4 ) == '.php' ) {
            include "${appconfig.apache2.dir}/_/ubos-accessories/$accessoryFile";
        }
    }
}
